### General
install
text
cdrom
skipx
lang en_US.UTF-8
unsupported_hardware
keyboard us
timezone --utc America/New_York
rootpw --plaintext password
firewall --disabled
selinux --permissive
auth --enableshadow --passalgo=sha512 --kickstart
user --name=vmuser --password=password
firstboot --disable
reboot
### Disk
zerombr
clearpart --all --drives=sda --initlabel
part / --fstype="xfs" --grow --size=1 --asprimary
bootloader --location=mbr --driveorder=sda --append="nomodeset crashkernel=auto" --timeout=0
### Network
network --onboot=yes --bootproto=dhcp --device=enp0s3 --activate
### Packages
%packages --instLangs=en_US.utf8 --nobase --ignoremissing --excludedocs
@core --nodefaults
%end
### Post install adjustments
%post --log=/root/ks.log
echo "vmuser ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vmuser
echo "Defaults:vmuser !requiretty" >> /etc/sudoers.d/vmuser
chmod 0440 /etc/sudoers.d/vmuser
%end
