# ksvm.cfg
# GENERAL
install
text
cdrom
skipx
lang en_US.UTF-8
unsupported_hardware
keyboard us
timezone --utc America/New_York
rootpw --plaintext password
firewall --disabled
selinux --permissive
auth --enableshadow --passalgo=sha512 --kickstart
user --name=vmuser --password=password
firstboot --disable
reboot
# DISK
zerombr
clearpart --all --drives=sda --initlabel
part / --fstype="xfs" --grow --size=1 --asprimary
bootloader --location=mbr --driveorder=sda --append="nomodeset crashkernel=auto rhgb quiet net.ifnames=0 biosdevname=0" --timeout=0
#  NOTE: 'net.ifnames=0 biosdevname=0' in append string disables Predictable Network Interface Names enp0s3, etc
# NETWORK
#  NOTE: Using CloudFlare for DNS. To use the host's DNS set nameserver=10.0.2.3 
network --onboot=yes --device=eth0 --noipv6 --bootproto=static --ip=10.0.2.15 --netmask=255.255.255.0 --gateway=10.0.2.2 --nameserver=1.1.1.1
network --onboot=yes --device=eth1 --noipv6 --bootproto=static --ip=10.11.12.2 --netmask=255.255.255.0
# PACKAGES
%packages --instLangs=en_US.utf8 --nobase --ignoremissing --excludedocs
@Core --nodefaults
binutils
curl
iputils
lvm2
make
postfix
rsync
vim-minimal
-fprintd-pam
-intltool
-mariadb-libs
-aic94xx-firmware
-iwl*-firmware
-ivtv-firmware
%end
# KSPOST1: Non-chroot'd post script, allows access to install media 
%post --nochroot --log=/mnt/sysimage/root/kspost1.log
# Here you can copy files from ISO source to the new system
# cp /run/install/repo/MYDIR/MYFILE /mnt/sysimage/root/MYFILE
echo "kspost1 is not used"
%end
# KSPOST2: Regular post script, with no visibility of install media 
%post --log=/root/kspost2.log
#### INSTALL OTHER PACKAGES
yum -y install bind-utils bzip2 dkms epel-release gcc gcc-c++ kernel-devel kernel-headers lsof nmap-ncat sysstat tcpdump time vim-enhanced yum-utils
#### SET UP SUDO ACCESS
echo "vmuser ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vmuser
echo "Defaults:vmuser !requiretty" >> /etc/sudoers.d/vmuser
chmod 0440 /etc/sudoers.d/vmuser
#### SET UP SSH KEY
mkdir -pm 700 /home/vmuser/.ssh
cat <<EOF > /home/vmuser/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAyIZo/WEpMT8006pKzqHKhNEAPITJCEWj\
LN+cGSg9snFXVljAIQ9CtLo89PJvnfGj8I9VxXPxCUmC8gew/XXxQuExa0XhSSNYDEqM\
yOvlB8KSoYw8tFwNAYaeHw4rbygIgOSn5+g1lLXEf+FPa5JJJAByoxvqXtxZhwiJP2BO\
kp/ULqsy1UGbHFzGsYHkD8ukYINnr8Yob5K3GuvBSZkb4o02ErC0Tj9Xi52vxgSQEKNQ\
s5BOxzb4gtJ7ozArd11xrpmel02bH7mRfrB/Gpsfvb4WXRG9Kiat09T3XjceMAlcmMUG\
QJD0ip1mgN3elTCGpon8K5ZRWGxrF7G8XqnGQQ== vm insecure public key
EOF
chmod 0600 /home/vmuser/.ssh/authorized_keys
chown -R vmuser:vmuser /home/vmuser/.ssh
#### OTHER SETTINGS
sed -i "s/^.*UseDNS yes/UseDNS no/g" /etc/ssh/sshd_config
yum -y update
yum clean all
# Set up boostrapping. Have /etc/rc.d/rc.local call vmnet
chmod +x /etc/rc.d/rc.local
echo /usr/local/bin/vmnet >> /etc/rc.d/rc.local
%end
